#project1 #project2 #project3 #project4{
    height: 50hv;
}

#project1{
    background-image: url("yarn.jpeg");
    background-size: cover;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding-top: 2%;
}
#project1 .myContainer{
    background: white;
    max-width: 80%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
}
#project1 #save-el {
    font-size: large;
    font-weight: bold;
}

#project2{
    background-image: url("table.png");
    background-size: cover;
    padding-top: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    color: white;
}

#project2 h1{
    color: goldenrod;
    font-weight: bold;
}

#project2 #message-el{
    font-style: italic;
}

#start-btn, #new-card-btn{
    color: #016f32;
    width: 150px;
    background: goldenrod;
    font-weight: bold;
}

#project3{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

#project3 li{
    list-style: none;
}

#project3 ul{
    padding-left: 0px;
}

#project3 button{
    margin-top:5px;
    margin-bottom: 5px;
}