body{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

button{
    margin-top:5px;
    margin-bottom: 5px;
}
li{
    list-style: none;
}
ul{
    padding-left: 0px;
}